<!DOCTYPE html>
<html>
  <head>
    <title>facebook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div id="main">
<div id="main2">
  <div id="heading">
    <div id="facebook"><h1>facebook</h1></div>
    <div id="headingpera"><h2>Facebook helps you connect and share with the people in your life.</h2></div>
  </div>
  <div id="login">
    <form action="/login" method="post">
      <input id="input1" type="email"  name="username" placeholder="Email address or phone number">
      <input id="input1" type="password" name="password" placeholder="password">
      <input id="log" type="submit" value="Log in">
    </form>
    <div id="forgot"><a href="/forget"><h5>Forgotten password?</h5></a></div>
    <div id="create"><a href="/register"><h5>Create new account</h5></a></div>
  </div>
  </div>
</div>
<script src="../javascripts/script.js"></script>
</body>
</html>