<%-include("./partial/header.ejs")%>
  <link rel="stylesheet" href="../stylesheets/loggedin.css">
  <div id="threee">
    <div id="m1">
      <div id="div1">

      </div>
      <div id="div2">
     
      </div>
        <div id="div3" >
          <div id="contacts">
            <h3>contacts</h3>
            <div id="searchuser">
              <i class="ri-search-line"></i>
              <form id="hide">
                <input type="text" placeholder="Enter the name" name="nametobefind">
              </form>
            </div>
          </div>
          <div id="friendss">

          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var postDiv = document.querySelector("#div2")
    var friends = document.querySelector("#friendss")
    axios.get("/findall").then(function (alluser) {
      var clutter2 = ``

      alluser.data.alluser.forEach(function (all) {
        clutter2 += ` <div id="friends">
              <div id="dp">
                <a href="/profile/${all._id}"> <img src="../images/uploads/${all.profile}" alt=""></a>
               
          </div>
              <div id="username"> <a href="/profile/${all._id}"><h3>${all.First_Name + " " + all.Last_name}</h3></a></div>
              </div>`

      })
      friends.innerHTML = clutter2
    })

    function findPosts(){
      var clutter3 =`` 
      axios.post("/feedPost").then(function(feed){
        feed.data.feed.forEach(function(a){
          a.post.forEach(function(feedPost){

       
            
            clutter3 +=`
            <div id="postarea">
              <div id="postHeading">
                <div id="postprofileimg"> <img src="../images/uploads/${a.profile}" alt=""> </div>
                <div id="postHeadingName"><h3>gourav shandilya</h3> <h4>${feedPost.date}</h4></div>
                </div>
              <div id="imgarea">
                <img src="../images/postuploads/${feedPost.postPic}" alt="">
                </div>
              <div id="likeANDcomment"></div>
      </div>
            `

        


            postDiv.innerHTML = clutter3
          })
        })
      })
    }
  findPosts()


  </script>
  <%-include("./partial/footer.ejs")%>