*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html,body
{
height: 100%;
width: 100%;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #414344;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#5f6263;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#2F3031;
  }
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
   
    background-color: #242526;   
 }
#m1{
    width: 100%;
   height: 95%;
    background-color: #242526;
    

  }
    #profilepage{
    width: 100%;
    height: 80%;
   
    
    }

#coverphoto{
width: 100%;
height: 80%;
background-color: #2F3031;
display: flex;
justify-content: center;
align-items: center;


    }

#cphoto{
width: 80%;
height: 100%;
background-color: #2F3031;


}
#cphoto img{
    width: 100%;
    height: 100%;
}

#profilephoto{
    width: 100%;
    height: 20%;
    background-color: #2F3031;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    border-bottom: 1px solid #4E4F50;
}

#displaypic{
    z-index: 9;
    position: relative;
    width: 160px;
    height: 160px;
    /* background-color: #2F3031; */
    border-radius: 100%;
   background-color: antiquewhite;
   cursor: pointer;
    border: solid 10px #242526;
}
#displaypic img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
 
}
#uploadicon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E4F50;
   
    color: white;
   font-size: 35px;
 
    width: 50px;
    height: 50px;
    
    border-radius: 100%;
    cursor: pointer;
}

#username{
width: 30%;
height: 100%;
background-color: #2F3031;
display: flex;
padding-top: 25px;
padding-left: 20px;

flex-direction: column;
}
#name h3{
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
}
#totalfriends h4{
    font-size: 15px;
    text-transform: capitalize;
    color:  white ;
    font-weight: 300;
    padding-left: 5px;
}
#edit{
    width: 57%;
    height: 100%;
    background-color: #2F3031;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}
#edit button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 30px;
    background-color: #3982E4;
    border: none;
    outline: none;
    border-radius: 9px 9px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#intro{
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #242526;
  display: flex;
    border-right: 145px solid #242526 ;
    border-left: 145px solid #242526;
}
#introduction{
    width: 30%;
    height: 50%;
    background-color: #2F3031;
    margin: 15px;
    border-radius: 9px 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}
#uploadprofile{
    display: none;

}
#introhead h1{
    color: white;
    font-weight: 500;
}
#introfrom{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    gap: 5px;
}
#introwent{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    gap: 5px;
}
#introjoin{
    width: 100%;
    height: auto;
  color: white;
  display: flex; 
  gap: 5px;

}


#adddetails{
    width: 100%;
    height: 10%;
   
    border-radius: 9.5px 9.5px;
}
#adddetails button{
    width: 100%;
    height: 100%;
    background-color:#4E4F50 ;
    border: none;
    outline: none;
    border-radius: 9.5px 9.5px;
    cursor: pointer;
}
#adddetails h4 {
    color: white;
    font-weight: 300;
}

#addhobbies{
    width: 100%;
    height: 10%;
    border-radius: 9.5px 9.5px;
}
#addhobbies button{
    width: 100%;
    height: 100%;
    background-color:#4E4F50 ;
    border: none;
    outline: none;
    border-radius: 9.5px 9.5px;
    cursor: pointer;
}
#addhobbies h4 {
    color: white;
    font-weight: 300;
}

#postpage{
    width: 70%;
    height: 100%;
    background-color: aqua;
    display: flex; 
    flex-direction: column;
    padding: 20px 0 0 20px;
    align-items: center;
}

#post{
    width: 90%;
    height: 20%;
    background-color: #242526;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

#show{
    width: 50px;
    height: 50px;
    background-color: pink;
    border-radius: 100%;
    overflow: hidden;
    
}
#show img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#postsubmit{
    display: none;
}

#inputpost{
    width: 80%;
    height: 30%;
    background-color: aquamarine;
    border-radius: 20px 20px;
    
}
#inputpost input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 20px 20px;
}